@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /*
    *
    * This all are the rgb values which are used inside the
    * tailwind config file and custom plugins css file
    *
    */

    /*
    * primary color
    */
    --color-accent: 0, 159, 127;

    /*
    * Hover state color of primary color
    */
    --color-accent-hover: 1, 147, 118;

    /*
    * shade of primary color
    */
    --color-accent-200: 204, 236, 229;

    /*
    * shade of primary color
    */
    --color-accent-300: 153, 217, 204;

    /*
    * shade of primary color
    */
    --color-accent-400: 77, 188, 165;

    /*
    * shade of primary color
    */
    --color-accent-500: 0, 159, 127;

    /*
    * shade of primary color
    */
    --color-accent-600: 0, 143, 114;

    /*
    * shade of primary color
    */
    --color-accent-700: 0, 119, 95;

    /*
    * light color
    */
    --color-light: 255, 255, 255;

    /*
    * dark color
    */
    --color-dark: 0, 0, 0;

    /*
    * Black muted color
    */
    --color-muted-black: 17, 17, 17;

    /*
    * Current color
    */
    --color-current: currentColor;

    /*
    *
    * TEXT colors
    *
    */

    /*
    * text color used for body/base text -> gray-500
    */
    --text-base: 107, 114, 128;

    /*
    * dark base text color  -> gray-600
    */
    --text-base-dark: 75, 85, 99;

    /*
    * muted text color -> gray-400
    */
    --text-muted: 156, 163, 175;

    /*
    * light muted text color - gray-300
    */
    --text-muted-light: 209, 213, 219;

    /*
    * text color used for heading text -> gray-700
    */
    --text-sub-heading: 55, 65, 81;

    /*
    * text color used for heading text -> gray-800
    */
    --text-heading: 31, 41, 55;

    /*
    * text color used for heading text -> gray-900
    */
    --text-bolder: 31, 41, 55;

    /*
    *
    * border colors
    *
    */

    /*
    * border color 50
    */
    --color-border-50: 249, 250, 251;

    /*
    * border color 100
    */
    --color-border-100: 243, 244, 246;

    /*
    * border color 200
    */
    --color-border-200: 229, 231, 235;

    /*
    * border base color which is 300
    */
    --color-border-base: 209, 213, 219;

    /*
    * border color 400
    */
    --color-border-400: 156, 163, 175;

    /*
    *
    * Tailwind default gray color override
    *
    */

    /*
    * gray-50
    */
    --color-gray-50: 249, 250, 251;

    /*
    * gray-100
    */
    --color-gray-100: 243, 244, 246;

    /*
    * gray-200
    */
    --color-gray-200: 229, 231, 235;

    /*
    * gray-300
    */
    --color-gray-300: 209, 213, 219;

    /*
    * gray-400
    */
    --color-gray-400: 156, 163, 175;

    /*
    * gray-500
    */
    --color-gray-500: 107, 114, 128;

    /*
    * gray-600
    */
    --color-gray-600: 75, 85, 99;

    /*
    * gray-700
    */
    --color-gray-700: 55, 65, 81;

    /*
    * gray-800
    */
    --color-gray-800: 31, 41, 55;

    /*
    * gray-900
    */
    --color-gray-900: 31, 41, 55;

    /*
    * orange-50
    */
    --color-orange-50: 255, 247, 237;

    /*
    * orange-100
    */
    --color-orange-100: 255, 237, 213;

    /*
    * orange-200
    */
    --color-orange-200: 254, 215, 170;

    /*
    * orange-300
    */
    --color-orange-300: 253, 186, 116;

    /*
    * orange-400
    */
    --color-orange-400: 251, 146, 60;

    /*
    * orange-500
    */
    --color-orange-500: 249, 115, 22;

    /*
    * orange-600
    */
    --color-orange-600: 234, 88, 12;

    /*
    * orange-700
    */
    --color-orange-700: 194, 65, 12;

    /*
    * orange-800
    */
    --color-orange-800: 154, 52, 18;

    /*
    * orange-900
    */
    --color-orange-900: 124, 45, 18;

    /*
    Pending
    */
    --color-pending: 201, 161, 22;

    /*
    Processing
    */
    --color-processing: 158, 117, 0;

    /*
    Complete
    */
    --color-complete: 0, 161, 127;

    /*
    Canceled
    */
    --color-canceled: 227, 110, 1;

    /*
    Failed
    */
    --color-failed: 238, 43, 0;

    /*
    Out for delivery
    */
    --color-out-for-delivery: 126, 173, 66;

    /*
    * dark base text color  -> gray-600
    */
    --text-base-dark: 51, 51, 51;
  }

  html {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  a {
    @apply no-underline;
  }
}

.best-post {
  width: 100%;
  height: 20em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  border-radius: 15px;
  transition: 1s;
}
.best-post:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #fff;
}

.best-post:hover .best-post-image {
  border-radius: 15px 0 0 15px;
}
.best-post-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  margin-right: 25px;
  transition: 1s;
}
.best-post-content {
}

.best-post-content-cat {
  padding: 6px 15px;
  border-radius: 9999px;
  width: fit-content;
  margin-bottom: 15px;
  text-align: center;
  line-height: 1.5;
  color: #fff;
  font-size: 15px;
}

.best-post-content-title {
  font-size: 3rem;
  margin-bottom: 15px;
  line-height: 1;
  color: #1d291f;
}

.best-post-content-sub {
  font-size: 15px;
  margin-bottom: 15px;
  line-height: 1.5;
  color: #1d291f;
}

.post__card-2 {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  max-width: 33%;
  float: left;
  transition: 1s;
}

.post__card_-2 {
  overflow: hidden;
  border-radius: 15px;
}
.post__card_-2:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #fff;
}
.post__card__image-2 {
  height: 14rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  transition: 1s;
}

.post__card-2:hover .post__card__image-2 {
  border-radius: 15px 15px 0 0;
}

.post__card_meta-2 {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
.post__card_cat {
  padding: 2px 15px;
  font-size: 14px;
  line-height: 1.5;
  width: fit-content;
  border-radius: 9999px;
  text-align: center;
  color: #fff;
  margin-bottom: 7px;
}
.post__card_title-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  font-family: Gilroy-Bold;
  line-height: 1;
  margin-bottom: 7px;
}

.post__card_alttitle-2 {
  color: #4a5568;
  margin: 0;
  line-height: 1.5;
  font-size: 1.125rem;
  margin-bottom: 7px;
}
.row {
  margin: 0 !important;
}

@media screen and (max-width: 500px) {
  .post__card-2 {
    width: 100%;
    max-width: 100%;
  }

  .best-post {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 15px;
    transition: 1s;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .best-post-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 15px;
    margin-right: 25px;
    transition: 1s;
    margin-bottom: 15px;
    height: 14em;
  }
  .best-post-content-cat {
    margin-bottom: 15px;
  }
  .best-post:hover .best-post-image {
    border-radius: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .post__card-2 {
    width: 50%;
    max-width: 50%;
  }
}
@import './custom-plugins.css';
